#### Tuples in Python
##### The difference between a ' list ' and a ' tuple ' concerns mutability.
- List is Mutable 
- Tuple is Immutable
- Tuple is quick and efficient.

In [73]:
# Use Parentheses ()
t = (1,2,3,"Hello")
print(t)

(1, 2, 3, 'Hello')

In [74]:
#tuples are immutable
#t[0] = 5
print(t[0])

1

In [75]:
def func(*args):
    # Tuple used for '*args' -> Why(Immutability)
    print(args)

In [76]:
func(1, 2, 3, 4)

(1, 2, 3, 4)

In [77]:
# Swap 'a' and 'b' 
a = 5
b = 3

In [78]:
temp = a
a = b
b = temp

In [79]:
print(a, b)

3 5

In [80]:
# Next Approach
a = a^b
b = a^b
a = a^b
print(a, b)

5 3

In [81]:
# By default , if ' input ' is as :-
a = 1, 2
type(a)

tuple

In [82]:
# Tuple at LHS

In [83]:
c, d = a

In [84]:
print(c, d)
# Remember to balance the no. of variable(s)

1 2

In [85]:
c,d,e = a # Error

ValueError: not enough values to unpack (expected 3, got 2)

In [86]:
x = 12 
y = 15

In [87]:
# Swap ( Python -> Tuple)
(x, y) = (y, x)
print (x , y)

15 12

In [88]:
# Convert a tuple - 't' to a list 'l'
l = list(t)
print(l)
# As the 'list' is mutable
l[0] = 5
print(l)

[1, 2, 3, 'Hello']
[5, 2, 3, 'Hello']

In [89]:
a = list("Medha")
print(a)

['M', 'e', 'd', 'h', 'a']

In [90]:
a = tuple(a)
print(type(a))
print(a)

<class 'tuple'>
('M', 'e', 'd', 'h', 'a')

In [91]:
t2 = tuple(l)
print(t2)

(5, 2, 3, 'Hello')

In [92]:
 # How a function can return multipe values here ?
def addSubtract(a, b):
    # Return a ' tuple ' instead.
    return ( a + b , a - b )
   #  return a - b -> Invalid Statement

In [93]:
addSubtract(9, 3)

(12, 6)

In [94]:
# ' tuple ' Destructuring ->
sum, diff = addSubtract(9, 3)

In [95]:
print(sum)
print(diff)

12
6

In [96]:
#concatentation
print(t2 + t)

#Repetion
t2 = t2*3
print(t2)

(5, 2, 3, 'Hello', 1, 2, 3, 'Hello')
(5, 2, 3, 'Hello', 5, 2, 3, 'Hello', 5, 2, 3, 'Hello')

In [97]:
t = (1,44,3,2)
print(min(t))

1

In [98]:
del t

#### Dictionaries in Python
- Data : (Key, Value) Pair

In [99]:
a = [1, 2, 3, 4]

In [100]:
a[1]

2

In [101]:
# 'list' / 'tuple' -> Ordered Data Structure 
# Dictionary -> Unordered ( Access 'Value' by 'Key')
a = {
    "Name" : "Medha",
    "Marks" : 100 ,
    "Subjects" : [ "Hindi" , "English"] ,
    "Friends" :  # Dictionary with-in a Dictionary
    {
        "Computer":"C++"
        
    }
}

In [102]:
a["Friends"]

{'Computer': 'C++'}

In [103]:
# Iterate over a Dictionary
for key in a:
    print(key)

Name
Marks
Subjects
Friends

In [127]:
d = {"Mango":100,"Apple":80}
print(d)
#Look Up -> Enter "KEY" -> Get "VALUE"
print(d["Mango"])

d["Guava"] = 60
print(d)

d["Grape"] = [10,20]
print(d["Grape"])

d["Pineapple"] = {"Small":90,"Large":150}

print(d["Pineapple"]["Small"])

{'Mango': 100, 'Apple': 80}
100
{'Mango': 100, 'Apple': 80, 'Guava': 60}
[10, 20]
90

In [105]:
print(d.keys())

dict_keys(['Mango', 'Apple', 'Guava', 'Grape', 'Pineapple'])

In [106]:
print(d.values())

dict_values([100, 80, 60, [10, 20], {'Small': 90, 'Large': 150}])

In [107]:
print(type(d.get("Mangoes")))

<class 'NoneType'>

In [123]:
if "Mangoes" in d:
    print("Price of Mango is %d"%(d["Mango"]))
else:
    print("Doesn't exist")

Doesn't exist

In [129]:
del d["Pineapple"]
l = list(d.items())
print(l)

[('Mango', 100), ('Apple', 80), ('Guava', 60), ('Grape', [10, 20])]

In [130]:
for key, value in a.items() :
    print(key, "=>" , value)

Name => Medha
Marks => 100
Subjects => ['Hindi', 'English']
Friends => {'Computer': 'C++'}

In [132]:
for key in a.keys():
    print(key)

Name
Marks
Subjects
Friends

In [133]:
for value in a.values():
    print(value)

Medha
100
['Hindi', 'English']
{'Computer': 'C++'}

In [134]:
a['Name']

'Medha'

In [137]:
a.get('Name')

'Medha'

In [141]:
a.get("Name1") # No Error

In [142]:
#Challenge
students = []

In [143]:
n = int(input())

2

In [145]:
for i in range(n):
    roll = int(input())
    name = input()
    branch = input()
    students.append({
        "Roll-No" :  roll,
        "Name" :  name,
        "Branch" : branch
    })

1
Medha
CSE
2
Laksh
IT

In [146]:
students

[{'Roll-No': 1, 'Name': 'Medha', 'Branch': 'CSE'},
 {'Roll-No': 2, 'Name': 'Laksh', 'Branch': 'IT'}]

In [147]:
# NOTE -  The 'KEY' can be any immutable Data Structure

In [148]:
a = {
    (1, 2) : "Medha" # 'tuple' -> 'key' for the Dictionary -> a
}

In [149]:
a[ (1, 2)]

'Medha'

In [ ]:
a = 
{
    [1, 2] : "Medha" # ' list ' -> 'key' for the Dictionary -> a
    
}

In [110]:
d2 = {"Strawberry":95}

d.update(d2)
print(d)

{'Mango': 100, 'Apple': 80, 'Guava': 60, 'Grape': [10, 20], 'Strawberry': 95}

In [111]:
print(len(d))

5

In [112]:
d.clear()
print(len(d))

0

In [113]:
l1 = ["Apple","Papaya","Guava","Banana"]
l2 = [100,120,30,50]

p = dict(zip(l1,l2))
print(p)
print(type(p))

{'Apple': 100, 'Papaya': 120, 'Guava': 30, 'Banana': 50}
<class 'dict'>

In [114]:
for k in p.values():
    print(k)

100
120
30
50

### Python -> Set
##### Set is an unordered Data Structure
- Set is not an Iterable ( Can not be ' iterate(d) ' over in a 'loop' )

In [ ]:
# - Set is a collection of unique item(s).
# - No Indexing
# - Set is an Unordered Data Structure

In [1]:
s = set([15,1,2,3,4,3,1,1])
print(s)

{1, 2, 3, 4, 15}

In [4]:
# Unlike a 'Dictionary , a 'set' does not has (key, val) Pair

In [5]:
prior = {} # Creates an empty ' Dictionary' and not an empty 'Set'
print(type(prior))

<class 'dict'>

In [8]:
a = set()
print(type(a))

<class 'set'>

In [3]:
a = {1, 2, 3, 4}
print(type(a))

<class 'set'>

In [116]:
if 14 in s:
    print("present")
else:
    print("not present")

not present

In [117]:
s2 = {5,6,11,1,1}
print(s2)

{1, 11, 5, 6}

In [118]:
s2.add(50)
print(s2)

{1, 5, 6, 11, 50}

In [119]:
s.clear()

In [10]:
a1 = {1,2,3,4}
a2 = {2,3,4,5,6}

#Those element which are only in one of the sets
print(a1^a2)
print(a1.intersection(a2))
print(a1.union(a2))

{1, 5, 6}
{2, 3, 4}
{1, 2, 3, 4, 5, 6}

In [13]:
for i in a1: # Set is iterable  # Eliminate the Duplicate(s)
    print(i)

1
2
3
4

In [15]:
len(a1)

4

In [16]:
# How to eliminate duplicate(S) ?
a  = { 1,3 ,2 ,1, 3, 2 ,1}

In [18]:
list(set(a)) # Convert a ' List ' -> ' Set ' and ' Set ' -> ' List ' 
# Duplicate(s) eliminated from the 'List'

[1, 2, 3]

 ### Comprehension

In [20]:
a = []
for i in range(10):
    a.append(i**2)
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
[ i **2  for i in range(10)] # List Comprehension

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
[ i **2  for i in range(10) if i %2 == 0 ] # Square of Even(s)

[0, 4, 16, 36, 64]

In [25]:
dict = { i :i **2  for i in range(10)} # Dictionary Comprehension
# Key -> i , Value -> i**2
print(dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [27]:
set =  {i **2  for i in range(10)} # Set Comprehension
print (set)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [ ]:
 # Tuple Comprehension is discussed in Intermediate Python