## Python Basics
#### This is a mark-down cell
    - Hello World
    - Variables

In [2]:
print("Hello World")
# This is a comment

Hello World

In [6]:
'''
This is a multi-line comment
'''
# This is not a multi-line comment but a multi-line string

'\nThis is a multi-line comment\n'

### Literal Constants
#### Primitive Data Type
###### Numbers
    -Integers
    -Floats
    -Bool ( Not Primitive)
    -Complex Number(s)
###### Strings
    -Single Quotes
    -Double Quotes
    -Triple Quotes
    -Escape Sequences (\n \t \r)
    -Explicit Line Joining

In [ ]:
x = 10 # int

In [5]:
x = 5

In [8]:
print(x) # Order of cell(s) x= 5 or x = 10

10

In [8]:
a = 10 
b = 10.5 # float
c = a + b
print(a)
print(b)
print(a+b)

10
10.5
20.5

In [9]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'float'>

In [6]:
c = "hello_python"
print(type(c))

<class 'str'>

In [7]:
d = 5 + 3j
print(d)
print(type(d))

(5+3j)
<class 'complex'>

In [14]:
a = 100.5
z = 'a' # 'str'
y = '10'# 'str' (char)

In [16]:
print(a)
print(type(a))
print(type(z))
print(type(y))

100.5
<class 'float'>
<class 'str'>
<class 'str'>

In [19]:
a = "python"
print(a)
a = 'HI! How are you ?'
print(a)
a = '''
This is a multi-line code.
This is the end of the multi-line code.
'''
print(a)
a = """
This is also a multi-line code.
I love to code in Python.
This is my favourite Coding Language.
"""
print(a)

python
HI! How are you ?

This is a multi-line code.
This is the end of the multi-line code.


This is also a multi-line code.
I love to code in Python.
This is my favourite Coding Language.

## Working with Input

In [13]:
name = input("Enter the name of your organisation")
print("Hello",end=' ')
print(name)

Enter the name of your organisationCoding Blocks
Hello Coding Blocks

## Reading Numbers | Typecasting

In [22]:
a = float(input("Enter a Number"))
print(a)
print(a*a)

print(type(a))
print("The square of the number is " + str(a*a))

Enter a Number6.60
6.6
43.559999999999995
<class 'float'>
The square of the number is 43.559999999999995

## More about the Print Function

- format 
- end and sep

In [29]:
print("Hello","World","I","Love","Python",sep="+")

Hello+World+I+Love+Python

In [32]:
a = 10
b = 20
print(a,end=',')
print(b)

10,20

In [36]:
a = "Indians"
b = "Mangoes"

c = "Russians"
d = "Pizza"

In [37]:
print("{0} love {1}".format(c,d))

Russians love Pizza

In [39]:
a = 10
b = 20

print("You entered %d and %d and %d"%(a,b,b))

You entered 10 and 20 and 20

### Variables,Datatypes and Operators

A type of identifier.

Rules for naming identifiers:

    The first character of the identifier must be a letter of the alphabet (uppercase ASCII or lowercase ASCII or Unicode character) or an underscore (_).

    The rest of the identifier name can consist of letters (uppercase ASCII or lowercase ASCII or Unicode character), underscores (_) or digits (0-9).

    Identifier names are case-sensitive. For example, myname and myName are not the same. Note the lowercase n in the former and the uppercase N in the latter.

Examples of valid identifier names are i, name_2_3.

Examples of invalid identifier names are 2things, this is spaced out, my-name and >a1b2_c3.

In [20]:
_abc = 10

In [21]:
name_1_2 = "HI"

In [22]:
i =  10

In [23]:
2thing = 1 # Error ( Incorrect Identifier)

SyntaxError: invalid syntax (<ipython-input-23-37e7f8073586>, line 1)

In [25]:
 &some =  10  # Error ( Incorrect Identifier)

SyntaxError: invalid syntax (<ipython-input-25-5843b5c3b302>, line 1)

### 1. Airthmetic Operators 
##### The operators are as follows:-
    - Addition +
    - Subtraction -
    - Division /
    - MOD %
    - Multiplication *
    - Floor Division //
    - Exponentiation **

In [53]:
a = 10
b = 21

print(a+b)
print(a-b)
print(a*b)
print("%0.4f"%(a/b)) # Ouput ->4 Decimal Place(s)
# Note  - The divison(/) in Python2 strictly follows the type of the operand(s). However in Python3 
# the ouput is a floating point number.
print(a//b) # Integer Division as 10/21 is '0'
#Exponent/Power Function
print(a**b)
print(b%a) # Modulo Division

31
-11
210
0.4762
0
1000000000000000000000
1

### 2. Comparison Operators
##### The operators are as follows:-
    - True, if equal ( == )
    - True, if not equal ( != )
    - Less Than ( < )
    - Greater Than ( > )
    - Less Than or Equal To ( <= )
    - Gretaer Than or Equal To ( >= )

In [56]:
10 != 10

False

In [57]:
10 < 20

True

In [59]:
10 > 20

False

In [60]:
10 == 20

False

In [61]:
10 <= 10

True

In [62]:
10 >= 5

True

In [63]:
# The comparison operators work on 'str' input as well
"abc" > "yz"
# Note - The comparison is not based on the length of the string but it s based on 'lexographical' order

False

In [64]:
"abd" > "abc" # As 'd'  > 'c' lexographically

True

In [65]:
"ABC" >"abc" # The character(s) compared on basis of ASCII CODE

False

In [66]:
ord("A") # Used to get the ASCII Value

65

In [67]:
ord("a")

97

In [68]:
"ABC" < "abc"

True

### 3. Assignemnt Operators

In [69]:
#Short-Hand Operators
a = 10
a += 10
print(a)
a -= 10
print(a)
a *= 5
print(a)

20
10
50

### 4. Logical Operators

In [70]:
a = True # 'True' is 'int' and not 'bool'

In [71]:
isinstance(1,int) # Check the type of a 'val'

True

In [72]:
# Note that
isinstance(True,int) # True

True

In [73]:
isinstance(True,str)

False

In [74]:
out = 5 + True
print(out)

6

In [75]:
type(True)

bool

In [76]:
not True

False

In [77]:
not False

True

In [78]:
True and False

False

In [79]:
True and True

True

In [80]:
False and False

False

In [81]:
True or False

True

In [82]:
False or False

False

In [83]:
False or True

True

In [86]:
5 and 0

0

In [87]:
5 and 1

1

In [88]:
1 and 5

5

In [ ]:
# Not based on 'BOOLEAN' Values

### Multiple Variable Assignment

In [29]:
a,b,c = 10,20,30.34

In [30]:
# This functions print the variables
print(a,b,c)
print(type(c))

10 20 30.34
<class 'float'>

### Whitespaces and Indendation


    - Whitespace is important in Python.

    - Actually, whitespace at the beginning of the line is important. This is called indentation.

    - Leading whitespace (spaces and tabs) at the beginning of the logical line is used to determine the indentation level of the logical line, which in turn is used to determine the grouping of statements.

    - This means that statements which go together must have the same indentation. Each such set of statements is called a block

### Don't mix tabs and Spaces
### Comments are Important for readability of your code

In [61]:

# This is a single comment !

"""This is a 
multiline 
comment """

myString = """This is 
a multiline string """

print(myString)

This is
a multiline string

### Operators - Arithmetic, Comparsion, Compound Assignment, Logical Operators

In [64]:
raining = True
temperature = 30


outing = raining and temperature <= 30
print(outing)

True

## If Else Blocks

In [32]:
weather  = input()

if weather=="Rainy":
    print("Don't go outside")
    print("It is raining heavilly")
    
elif weather=="Cool":
    print("Lets play Cricket")

else:
    print("Lets go for shopping")

Rainy
Don't go outside
It is raining heavilly

In [36]:
a = 0 # Negative
if a > 0:
    print("Positive")
elif a == 0 :
    print("Zero")
else:
    print("Negative")

Zero

### Nested if-else

In [37]:
a = 10
if a > 0 :
    print("Positive")
    if a%5 == 0:
        print("Divisible by 5")
else :
    print("Negative")

Positive
Divisible by 5

### Loops in Python

In [40]:
n = 10
i = 1

while i<=n:
    print("Step %d"%i)
    i = i + 1

print("Loop Finished")

Step 1
Step 2
Step 3
Step 4
Step 5
Step 6
Step 7
Step 8
Step 9
Step 10
Loop Finished

In [45]:
# Use a 'while()' Loop
a = 10
while a > 0:
    print(a)
    a -= 1

10
9
8
7
6
5
4
3
2
1

In [47]:
for i in "python": #'python' is an iterable ( str has 'char' entities)
    print(i)

p
y
t
h
o
n

In [49]:
i = 20 # Initialization is irrelevant
for i in range(5): # Here -> i = 0 , i = i+1 , i < 5
    print(i)

0
1
2
3
4

In [51]:
for i in  range(2,10): # Here -> i = 2, i = i+1 , i < 10
    print(i)

2
3
4
5
6
7
8
9

In [52]:
for i in range(1,11,2) : # here i = 1, i = i +2 , i < 11
    print(i)

1
3
5
7
9

In [74]:
for i in range(1,10,2): # Concept of iterator and iterable
    print(i,end=",")

1,3,5,7,9,

In [75]:
no = 10
ans = 1

for i in range(1,11):
    ans *= i
    
print(ans)

3628800

## Loops here

In [77]:
for i in range(10,1,-2):
    print(i,end=',')

10,8,6,4,2,

In [78]:
# 5 X 5 Matrix
n = 5
for x in range(n):
    for y in range(n):
        print(max(x+1,y+1,n-x,n-y),end=" ")
    print()

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

### Break Continue and Pass Statements

In [89]:
for i in range(1,10):
    if i==5:
        continue
    print(i)

print("Loop ends")

1
2
3
4
6
7
8
9
Loop ends

In [ ]:
# Write a Program which prints all primes number upto N !

In [90]:
def helloFact():
    print("Hello Factorial")
    
helloFact()

Hello Factorial

In [91]:
def factorial(n):
    ans = 1
    for i in range(1,n+1):
        ans *= i
    return ans

print(factorial(5))

120

In [95]:
def isPrime(n):
    
    for i in range(2,n):
        if(n%i==0):
            return False
        
    return True


def printPrime(V):
    
    for i in range(1,V+1):
        if(isPrime(i)):
            print(i,end=',')
            
            
printPrime(100)

1,2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

## Default Argument Values and Local Global Variables

In [102]:
lang = "C++"
def say(x="Python"):
    print("I Love " +x)
    
say("JavaScript")
say()
print(lang)

I Love JavaScript
I Love Python
C++

### Recursive Function

In [103]:
def fact(n):
    #Base Case
    if(n==0):
        return 1
    #Rec Case
    return n*fact(n-1)

print(fact(6))

720

### Keywords Arguments

In [120]:
def myFunc(score,lang,rollNo):
    print("I scored %d in %s"%(score,lang))
    print(rollNo)
    
    
myFunc(rollNo=1010,lang="Python",score=10)

I scored 10 in Python
1010